[submodule "etl/st_etl_tools"]
	path = etl/st_etl_tools
	url = git@github.com:jackmappotion/system_trading_etl.git
[submodule "etl/st_fa_tools"]
	path = etl/st_fa_tools
	url = git@github.com:jackmappotion/system_trading_fa.git
[submodule "model/st_fa_tools"]
	path = model/st_fa_tools
	url = git@github.com:jackmappotion/system_trading_fa.git
[submodule "model/st_ta_tools"]
	path = model/st_ta_tools
	url = git@github.com:jackmappotion/system_trading_ta.git
[submodule "model/st_pa_tools"]
	path = model/st_pa_tools
	url = git@github.com:jackmappotion/system_trading_pa.git
[submodule "order/st_order_tools"]
	path = order/st_order_tools
	url = git@github.com:jackmappotion/system_trading_order.git
